main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 189, 65);
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    box-shadow: 0 0 10px black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 50px;
    font: bold 2.0rem serif;
    border-bottom: solid 3px black;
    margin-bottom: 20px;
}

.input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.input input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
}

.input label {
    font: bold 1.5rem serif;
}

button {
    width: 300px;
    height: 40px;
    font: bold 1.2rem serif;
    background-color: black;
    color: rgb(247, 189, 65);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.2rem serif;
    box-shadow: 0 0 10px black;
    background-color: black;
    color: rgb(247, 189, 65);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    justify-content: center;
}

p {
    font: bold 0.9rem serif;
}

.input ::placeholder {
    color: rgba(165, 165, 165, 0.212);
}